// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'estilos';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.nav ul {
	width: 540px;
	margin-left: 10px;
	margin-right: 10px;
}

.nav-item {
	margin: 0;
	padding: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	background: #23B143;
	padding-top: 10px;
	padding-bottom: 10px;
}

.nav-link {
    line-height: 40px;
    display: block;
    padding: 0px 25px;
    border-right: 2px solid #fff;
    font-family: Arial, Helvetica;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.cuerpo {
	margin: 30px;
}

.border-bottom-green {
	border-bottom: 4px solid #196e29;
}