
header, section, article, aside, figure, footer {
	display: block; /* Elementos se comportan como cajas */
}

.limpiar {
	clear: both; /* Provoca que las cajas no floten */
}

body {
	margin: 30px;
}

p {
	font-family: arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	margin: 6px;
}

h1 {
	font-family: arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333;
	margin: 6px;
}

a img {
	border: none;
}

/* Maquetacion CubilarC */
/* Cabecera */
#contenedor {
	width: 950px;
	margin: 0 auto;  /* Resetea y centra el documento */
	background: #fff;
	padding: 25px;
	opacity: 1.0;
}

#cabecera {
	height: 150px; /* Altura logotipo */
}

#logo {
	height: 84px;
	width: 35px;
}

#cabecera ul {
	width: 220px;
	height: 64px; /* Altura logotipo */
	display: block;
	margin: 0px; /* ul trae margen y se elimina */
	padding: 0px;
	list-style: none; /* se elimina la viñeta */
	padding-top: 20px; /* espacio al borde superior */
}

#cabecera ul li {
}

#cabecera li a {
	width: 45px;
	height: 45px;
	display: block;
	margin-left: 10px;
}

/* Menu */

#menu {
	height: 60px; /* Altura menu */
	border-bottom: 4px solid #196e29; /* Borde abajo 4px */
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 540px;
	height: 40px; /* Altura menu */
	display: block; /* ul se comporta como caja */
	background: #23B143;
	padding-top: 10px;
	padding-bottom: 10px;
}


#menu li a {
	line-height: 40px; /* Interlineado */
	display: block; /* li se comporta como caja */
	padding: 0px 25px; /* Relleno arriba y a los costados */
	border-right: 2px solid #fff; /* Borde de separación */
	font-family: Arial, Helvetica;
	font-size: 15px;
	color: #fff;
	font-weight: bold; /* Texto en negrita */
	text-decoration: none; /* Sin subrayar */
	display: block;
}

#menu li a:hover {
	color: #000;
}

/* Cuerpo */
.titulopagina {
	display: block;
	font-size: 30px;
	color: #6d6d6d;
}

.cajas {
	border-bottom: 4px solid #196e29;
	padding: 10px 0px;
}

#cajapresentacion {
	width: 470px;
}

#banner {
	width: 480px;
}

#cajapresentacion h1 {
	font-size: 30px;
	color: #ff2f04;
}

/* PROYECTOS */
.caja-proyectos {
	width: 260px;
	border-top: 1px solid #196e29;
	padding-top: 16px;
	margin-right: 50px;
}

.caja-proyectos h2 {
	font-family: Arial;
	font-size: 14px;
	color: #464646;
	margin: 6px;
}

.caja-proyectos a {
	color: #848484;
	text-decoration: none;
}

/* SERVICIOS */

.caja-servicios {
	width: 250;
	margin-right: 60px;
	margin-bottom: 20px;
	border-top: 1px solid #196e29;
}

/* DISEÑO TABLET */
@media only screen and (max-width: 768px){

	body {
		margin: 15px;
	}

	#contenedor {
		width: 96%;
		padding: 2%;
	}

	#cabecera {
		height: auto; /* altura logo dependera de los elementos */
	}

	#logo {
		height: auto;
		width: 100%; /* ancho de logo queda centrado */
	}

	#cabecera ul {
		display: none;
	}

	/* Menu */
	#menu ul {
		margin: 0 auto;
	}

	/* Cuerpo */
	#cajapresentacion {
		width: 100%;
	}

	#cajapresentacion h1 {
		font-size: 30px;
		text-align: center;
	}

	#cajapresentacion p {
		text-align: center;
	}

	#banner {
		width: 100%;
	}

	#banner img {
		width: 440px;
		margin: 0 auto;
		/*  padding-left: 150px; */
	}

	/* Servicios */
	.caja-servicios {
		width: 270px;
		margin-right: 68px;
		margin-bottom: 20px;
		border-top: 1px solid #196e29;
	}

}

/* DISEÑO MOVIL 480 */

@media only screen and (max-width: 480px){
	body {
		margin: 8px;
	}


	#contenedor {
		width: 98%;
		padding: 1%;
	}

	/* Menu */
	#menu {
		height: auto;
		border-bottom: none;
	}

	#menu ul {
		width: 100%;
		height: auto;
		background: none;
		padding-top: 0;
	}

	#menu ul li {
	}

	#menu li a {
		line-height: 30px;
		display: block;
		background: #ff2f04; /* agregamos nuevo fondo */
		padding: 0; /* sin relleno */
		text-align: center; /* centramos texto menu */
		border-right: 0; /* sin lineas de border */
		font-size: 13px;
		margin-bottom: 4px;
	}

	/* Cuerpo */
	#banner img {
		width: 100%;
		height: auto;
	}
}

/* DISEÑO MOVIL 320 */

@media only screen and (max-width: 320px){
	#logo img {
		width: 60%;
		height: auto;
	}
}